<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

/**
 * Add any custom CSS here.
 *
 * This file will be loaded after all other theme stylesheets.
 */

 a {
    color: #31708f;
}
.mt-10p{
    margin-top: 10px;
}
.mt-20p{
    margin-top: 20px;
}
.mt-30p{
    margin-top: 30px;
}

.btn-default, input[type="submit"], button, a.comment-reply-link {
    border: 1px solid #31708f;
    color: #31708f;
}

.rsrc-header {
    margin-top: 40px;
}
#site-header a {
    font-size: 26px;
}
 .rsrc-top-menu {
    display: none;
}
 .main-menu-section {
    background-color: #184c63;
}
.current-menu-item {
    background-color: #163847;
}
.header-section {
    background-color: #31708f;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #163847;
}

.rsrc-footer {
    background-color: #184c63;
}
#back-top span {
    background-color: #376278;
}

#productDetail{
    height: 130px;
}

section.related.products{
    clear: both;
}


.wpcf7-form-control.g-recaptcha>div,
.wpcf7-form-control.g-recaptcha iframe,
.rc-anchor-compact {
    width: 100%!important;
}
#text-6{
    border: 1px solid #184c63;
    color: #184c63;
}
#text-6 .widget-title{
    font-weight: bold;
    color: #184c63;
    text-align: center;
    border-bottom: 1px solid #184c63;
}

.cat-title{
    font-size: 20px;
}
.homepage-desc .cat-desc-content{
    margin-left: 15px;
}
.homepage-desc h4,
.homepage-desc h2{
    font-size: 16px;
}
.homepage-desc .cat-title{
    font-weight: bold;
}

.woocommerce div.product .product_title {
    font-size: 24px;
    color: #184c63;
}
.follow-buttons>a {
    color: #fff;
    font-size: 1.3em;
    padding-right: .5em;
}
.follow-buttons>a:after {
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: 100%;
    width: .8em;
    text-align: center;
}
.follow-buttons>a span {
    display: none;
}
.site-footer .follow-buttons>a span {
    display: none;
}
.follow-buttons>a.twitter:after {
    content: '\f099';
}
.follow-buttons>a.facebook:after {
    content: '\f09a';
}
.follow-buttons>a.instagram:after {
    content: '\f16d';
}
.follow-buttons>a.linkedIn:after {
    content: "\f0e1";
}

#footerLink{
    text-align: center;
}
#footerLink a{
    color: #ddd;
}


.rsrc-main {
    overflow: hidden;
}
.bb-2-white{
    border-bottom: 2px solid #fff;
}
.br-2-white{
    border-right: 2px solid #fff;
}
.mr-1{
    margin-right: 1rem;
}
.pl-1{
    padding-left: 1rem;
}
.pr-1{
    padding-right: 1rem;
}
.products{
    clear: both;
}
.products a{
    color: #333;
    font-family: 'Flexo-Light';
}
.products .product{
    background-color: #fff;
    border-radius: 5px;
}
.products .product:first-child{
    margin-top: 20px;
}

.products .product .product-wrap{
  overflow: auto;
}
.product-right{
    width: 100%;
    float: left;
    -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    margin-bottom: 20px;
}
.product-right .product-name{
    background-color: #b8b6b6;
    overflow: hidden;
}
.product-right .product-title{
    margin: 0;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    display: inline-block;
}
.product-right:hover {
    -webkit-box-shadow: 0 0 15px rgba(89, 100, 101, 0.7);
    -moz-box-shadow: 0 0 15px rgba(89, 100, 101, 0.7);
    box-shadow: 0 0 15px rgba(89, 100, 101, 0.7);
}
.product-right>.row{
    margin-left: 200px;
}
.no-gutters{
    margin-right: 0;
    margin-left: 0;
}
.no-gutters [class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}
.product-img-wrap{
    float: left;
    width: 200px;
    margin-right: -200px;
    clear: left;
}
.product-attributes .value{
    color: #d9534f;
}
.table-head{
    background: #dcddde;
    padding: 10px 8px 8px;
    font-weight: bold;
}
.product-val-mm,
.product-val-inch{
    padding: 0px 10px 0 4px;
    line-height: 63px;
    height: 63px;
}
.product-val-mm{
    background-color: #eee;
}
.product-val-inch{
    background-color: #f6f6f6;
}
.volumn .product-val-inch{
    border-bottom-right-radius: 5px;
}
.single-product-attr .value{color: #d9534f;}
.single-product-attr hr{margin-bottom: 0;}


.summary.entry-summary .cart,.header-cart-block{
  display: none;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .product-attributes  .external-dimension .table-head,
    .product-attributes  .internal-dimension .table-head{
        padding-top: 0;
        height: 40px;
        }		
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
    .product-attributes .product-val-mm,
    .product-attributes .product-val-inch,
    .product-attributes .product-val-mm,
    .product-attributes .product-val-inch{
        line-height: initial;
    }
    .product-attributes .product-val-mm span,
    .product-attributes .product-val-inch span,
    .product-attributes .product-val-mm span,
    .product-attributes .product-val-inch span{
        line-height: 31.5px;
        display: block;
    }
    .product-attributes .product-val-inch span:first-child,
    .product-attributes .product-val-mm span:first-child{
        font-size: 12px;
    }
}
@media screen and (max-width: 767px) {
    .product-img-wrap {
        width: 100%;
        margin-right: initial; 
    }	
    .product-img-wrap img{
        width: 100%;
    }
    .product-right>.row {
        margin-left: initial;
    }
}</style>
<!-- end Simple Custom CSS and JS -->
